head
	meta(charset='utf-8')
	title FE Start 
	meta(name='description' content='')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1')
	link(rel="shortcut icon", href="favicon.ico" type="image/x-icon" crossorigin="anonymous")
	// Place favicon.ico and apple-touch-icon.png in the root directory

	// build:css styles/vendor.css
	// bower:css
	// endbower
	// endbuild
	link(rel='stylesheet' href='styles/bootstrap.css')
	// build:css styles/main.css
	link(rel='stylesheet' href='styles/main.css')
	// endbuild

	// build:js scripts/modernizr.js
	script(src='../bower_components/modernizr/modernizr.js')
	// endbuild
include ../includes/mixins.pug